@import "../../styles/constants.scss";

.linkcontainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.linksInner {
  margin: 0 auto;
}

.link {
  position: relative;
  bottom: 4px;
  margin: 0px 20px;
  text-decoration: none;

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $text-color-primary;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}
