@import "../../styles/constants.scss";

.linkcontainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.linksInner {
  margin: 0 auto;
}

@media screen and (max-width: $md) {
  .linkcontainer {
    top: 20px;
    bottom: auto;
    flex-direction: row;
  }

  .linksInner {
    margin: 0 20px;
  }
}
