@use "../../styles/constants.scss";
@use "../../styles/mixins.scss";

.open {
  color: black;
}

.closed {
  color: constants.$text-color-primary;
}

.menu {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.8rem;
  @include mixins.flex-center(column);
  z-index: 100;
}

.linksInner {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 0px 40px;
  background-color: constants.$text-color-primary;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
