@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.projectCard {
  background-color: $bg-color-secondary;
  padding: 1.5rem;
  margin: 1.5rem 0;
  border-radius: 2rem;

  @include card-hover;

  img {
    width: calc(100% - 20px);
    opacity: 0.8;
    margin: 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .projectLinks {
    @include flex-center(row);
    justify-content: space-evenly;
  }
}

@media screen and (max-width: $md) {
  .projectCard {
    padding: 1rem;
    border-radius: 1.5rem;

    img {
      width: 100%;
      margin: 10px 0;
    }
  }
}
