@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.projectCard {
  @include card-style;

  img {
    width: calc(100% - 20px);
    opacity: 0.8;
    margin: 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    @media screen and (max-width: $md) {
      width: 100%;
      margin: 10px 0;
    }
  }

  .projectLinks {
    @include flex-center(row);
    justify-content: space-evenly;
  }
}
