@use "../../styles/constants.scss";

.button {
  margin: 10px;
  text-decoration: none;
  background-color: constants.$text-color-primary;
  color: constants.$bg-color-primary;
  border-radius: 50px;
  font-size: 1rem;
  padding: 4px 15px;
  font-weight: 700;
  font-family: constants.$font-links;

  &:hover {
    background-color: constants.$text-color-primary-hover;
  }
}

.logo {
  position: relative;
  right: 5px;
}

.gitHub {
  top: 2px;
}

.website {
  top: 3px;
}
