// Screen breakpoints
$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Page dimensions
$inner-max-width: 800px;

// Color
$background-color: rgb(15, 15, 15);

// Typography
$text-color-primary: rgb(207, 197, 175);
$text-color-primary-hover: rgb(249, 211, 116);

$root-font-size: (
  null: 15px,
  $xs: 16px,
  $sm: 17px,
  $md: 18px,
  $lg: 19px,
  $xl: 20px,
);
