// Screen breakpoints
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1600px;

// Page dimensions
$inner-max-width: 800px;

// Color
$background-color: rgb(15, 15, 15);

// Typography
$text-color-primary: rgb(207, 197, 175);
$text-color-primary-hover: rgb(249, 211, 116);

$root-font-size: (
  $xs: 15px,
  $sm: 16px,
  $md: 17px,
  $lg: 19px,
  $xl: 21px,
);
