@import "./constants.scss";
@import "./mixins.scss";

html {
  @include font-size($root-font-size);
  height: 100%;
  min-height: 100vh;

  body {
    margin: 0;
    color: $text-color-primary;
    background-color: $background-color;
  }

  a {
    color: inherit;
    font-size: 1.6rem;
  }
}
