@import "./constants.scss";
@import "./mixins.scss";

:root {
  --app-height: 100%;
}

html {
  font-size: calc(15px + 0.390625vw);
  min-height: 100vh;
  min-height: var(--app-height);

  body {
    margin: 0;
    min-height: 100vh;
    min-height: var(--app-height);
    color: $text-color-primary;
    background-color: $bg-color-primary;
  }

  a {
    color: inherit;
    font-size: 1.6rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  h2,
  h3 {
    margin: 0;
  }
}
