@use "constants.scss";
@use "mixins.scss";

:root {
  --app-height: 100%;
}

html {
  font-size: calc(15px + 0.390625vw);
  min-height: var(--app-height);

  body {
    margin: 0;
    min-height: var(--app-height);
    color: constants.$text-color-primary;
    background-color: constants.$bg-color-primary;
  }

  a {
    color: inherit;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.4rem;
    margin: 0;
  }

  h3 {
    font-size: 1.2rem;
    margin: 0;
  }

  p {
    font-size: 1rem;
  }
}
