@import "./constants.scss";

@mixin flex-center($orientation) {
  display: flex;
  flex-direction: $orientation;
  justify-content: center;
  align-items: center;
}

@mixin page-inner-setup {
  @include flex-center(column);
  justify-content: flex-start;
  position: relative;
  max-width: $inner-max-width;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  font-family: $font-text;
}

@mixin page-inner-content {
  margin-top: 5vw;

  @media screen and (max-width: $md) {
    margin-top: 12vw;
  }
}

@mixin link {
  font-family: $font-links;
  text-decoration: none;

  &:hover {
    color: $text-color-primary-hover;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $text-color-primary-hover;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}
