@import "./constants.scss";

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    } @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin flex-center($orientation) {
  display: flex;
  flex-direction: $orientation;
  justify-content: center;
  align-items: center;
}

@mixin page-inner-setup {
  @include flex-center(column);
  position: relative;
  max-width: $inner-max-width;
  min-height: 100vh;
  padding: 10px;
}

@mixin link {
  text-decoration: none;

  &:hover {
    color: $text-color-primary-hover;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $text-color-primary-hover;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}
