@import "./constants.scss";

@mixin flex-center($orientation) {
  display: flex;
  flex-direction: $orientation;
  justify-content: center;
  align-items: center;
}

@mixin page-inner-setup {
  @include flex-center(column);
  justify-content: flex-start;
  position: relative;
  max-width: $inner-max-width;
  min-height: var(--app-height);
  box-sizing: border-box;
  padding: 20px;
  font-family: $font-text;
}

@mixin page-inner-content {
  margin-top: 5vw;
  width: 100%;

  @media screen and (max-width: $md) {
    margin-top: 12vw;
  }
}

@mixin link {
  font-family: $font-links;
  text-decoration: none;

  &:hover {
    color: $text-color-primary-hover;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $text-color-primary-hover;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

@mixin card-style {
  background-color: $bg-color-secondary;
  padding: 1.5rem;
  margin: 1.5rem 0;
  border-radius: 1.5rem;

  @media screen and (max-width: $md) {
    padding: 1.2rem;
  }

  transition: all 0.5s ease;
  &:hover {
    @media screen and (min-width: $md) {
      scale: 1.03;
      background-color: $bg-color-secondary-hover;
    }
  }
}
