@import "../../styles/constants.scss";

.cloudContainer {
  background-color: rgb(230, 230, 230);
  max-width: 700px;
  margin: 10px;
  border-radius: 10%;
  cursor: grab;
}

@media (max-width: $sm) {
  .cloudContainer {
    border-radius: 8%;
  }
}
