@import "../../styles/constants.scss";

.cloudContainer {
  background-color: rgb(230, 230, 230);
  max-width: 700px;
  margin: 10px;
  border-radius: 2rem;
  cursor: grab;

  @media (max-width: $sm) {
    border-radius: 1.5rem;
  }
}
