.profileCard {
    width: 80vw;
    position: relative;
    font-size: 80px;
    font-weight: 800;
}

.introName {
    color: rgb(249, 211, 116);
}

.typewriter {
    display: flex;
    flex-direction: row;
}