@import "../../styles/constants.scss";

.profileCard {
  width: 80vw;
  position: relative;
  font-size: 2.8rem;
  word-spacing: 0.1rem;
  font-family: $font-profile-card;
}

.introName {
  color: $text-color-primary-hover;
}

.typewriter {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: $md) {
  .profileCard {
    font-size: 2.3rem;
  }
}
