@import "../../styles/constants.scss";

.profileCard {
  width: 80vw;
  position: relative;
  font-size: 3rem;
  font-weight: 800;
}

.introName {
  color: $text-color-primary-hover;
}

.typewriter {
  display: flex;
  flex-direction: row;
}
