@import "../../styles/constants.scss";

.collapseBar {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;

  outline: 2px solid $text-color-primary;
  background: linear-gradient(to right, $text-color-primary 50%, $background-color 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;

  &:hover {
    background-position: left bottom;
    color: black;
  }
}

.collapseIcon {
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 1.5rem;
}

.collapseWrapper {
  outline: 2px solid $text-color-primary;
  overflow: hidden;
  transition: height 1s ease;
}

.collapseContent {
  padding: 1.5rem;

  img {
    max-width: 80%;
  }
}
