@import "../../styles/constants.scss";

.list {
  a {
    font-size: 0.9rem;
    font-weight: 700;
    color: $text-color-primary-hover;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
