@use "../../styles/constants.scss";
@use "../../styles/mixins.scss";

.list {
  .item {
    @include mixins.card-style;
    @include mixins.flex-center(column);
    font-size: 0.9rem;
    font-weight: 700;

    .title {
      margin: 30px 0;
      text-align: center;

      @media screen and (max-width: constants.$md) {
        margin: 15px 0;
      }
    }
  }

  img {
    height: 200px;

    @media screen and (max-width: constants.$md) {
      height: 160px;
    }
  }
}
