@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.list {
  .item {
    @include card-style;
    @include flex-center(column);
    font-size: 0.9rem;
    font-weight: 700;

    .title {
      margin: 30px 0;
      text-align: center;

      @media screen and (max-width: $md) {
        margin: 20px 0;
      }
    }
  }

  img {
    height: 200px;

    @media screen and (max-width: $md) {
      height: 170px;
    }
  }
}
