@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.experienceCard {
  background-color: $bg-color-secondary;
  padding: 1.6rem;
  margin: 1.5rem 0;
  border-radius: 2rem;

  .logoLine {
    position: relative;
    @include flex-center(row);
    margin: 10px 0;
    width: 100%;

    h5 {
      margin: 15px 0px;
      position: relative;
      width: 50%;
      display: inline-block;
      text-align: left;
    }

    .imgContainer {
      position: relative;
      width: 50%;
      display: inline-block;
      text-align: right;
      top: -3px;
    }
  }

  ul {
    font-size: 0.85rem;
  }

  .experienceLinks {
    @include flex-center(row);
    justify-content: space-evenly;
  }
}

@media screen and (max-width: $md) {
  .experienceCard {
    padding: 1.2rem;
    border-radius: 1.5rem;
  }
}
