@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.experienceCard {
  @include card-style;

  .logoLine {
    position: relative;
    @include flex-center(row);
    margin: 10px 0;
    width: 100%;

    h5 {
      margin: 15px 0px;
      position: relative;
      width: 50%;
      display: inline-block;
      text-align: left;
    }

    .imgContainer {
      position: relative;
      width: 50%;
      display: inline-block;
      text-align: right;
      top: -3px;
    }
  }

  ul {
    font-size: 0.85rem;
  }

  .experienceLinks {
    @include flex-center(row);
    justify-content: space-evenly;
  }
}
