@use "../../styles/constants.scss";

.footer {
  position: absolute;
  text-align: center;
  bottom: 0.5rem;
  left: 0;
  width: 100%;

  p {
    font-size: 0.9rem;
    font-family: constants.$font-links;
    word-spacing: 0.15rem;
    margin: 0;
  }
}
