@import "../../styles/mixins.scss";

.skillspage {
  @include flex-center(column);
  min-height: 100vh;
}

.skillsInner {
  @include page-inner-setup;
}

.skillsText {
  padding: 10px;
  h1 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.2rem;
  }
}
