@import "../../styles/mixins.scss";

.skillspage {
  @include flex-center(column);
  min-height: var(--app-height);
}

.skillsInner {
  @include page-inner-setup;
}

.skillsText {
  @include page-inner-content;
}

.tip {
  font-size: 0.9rem;
  text-align: center;
}
